# python -m pip install --upgrade pip
# pip install -r requirements.txt

python-dotenv # https://stackoverflow.com/questions/55647358/how-do-i-solve-error-dotenv-installation-error-on-pycharm
openai
ipykernel
